<input type="text" name="first" value="I" id="one"/>
<input type="text" name="sec" value="Love" />
<input type="text" name="third" value="India" />
<button type="submit" onclick="change();">Send</button>


<script>
    // 74) create 3 textbox & change value of individual textbox using getElementsByName() , use onclick event with button

    change = ()=> {
        //console.log(document.getElementsByName("first"));
        document.getElementsByName("first")[0].value="M";
        document.getElementsByName("sec")[0].value="Proud";
        document.getElementsByName("third")[0].value="Indian";

    }

</script>